/* PC */
@media (min-width: 64em) {

}

/* Tablet */
@media (max-width: 63.9375em) and (min-width: 46.25em) {
   
}

/* Tablet & mobile */
@media (max-width :63.9375em) {
    .btn {
        padding: 16px 17px;
    }

    .send-btn {
        font-size: 16px;
        -webkit-appearance: none;
    }

    .contact-container .form-control{
        padding: 14px;
    }

    .contact-container .contact-info {
        line-height: 2;
    }

    #footer .copy-right a {
        padding: 15px 0;
        display: inline-block;
    }

    #nav .down_content a {
        padding: 4px 16px;
    }

}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-mt-8 {
        margin-top: 8px !important;
    }
    
    .s-mt-32 {
        margin-top: 32px !important;
    }

    .s-wfull {
        width: 100% !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }
    
    #header .mobile-menu-btn{
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li > a {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .down_content {
        position: initial;
        background-color: #333;
    }

    #nav .down_content a {
        color: white;
        padding: 4px 39px;
    }

    #content .s-col-1st {
        width: 100% !important;
    }

    #content .name-img {
        width: 60%;
    }

}
